# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# generated GUI files
R.java

# Eclipse stuff
#.project
#.classpath
.metadata
local.properties
.settings/
.loadpath
*.pydevproject
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib

# CDT-specific
.cproject

# Maven
target
*/target/*
